{% extends 'base.html' %}


{% block body %}

    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    
                <!-- templates/registration/login.html -->
                {% if user.is_authenticated %}
                    <p>
                        <span style="color:gray">Hi, {{ user.username }}!</span> What's the weather like around the world?
                        <button type="submit" style="float:right"><a href="logout">Logout</a></button>         
                    </p>
                {% else %}
                    <p>
                        What's the weather like around the world?
                        <button type="submit" style="float:right"><a href="register">Sign Up</a></button>
                        <button type="submit" style="float:right"><a href="login">Login</a></button>        
                    </p>
                    
                {% endif %}
                
            </h1>

            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                        {% if message %}
                            <!-- <div class="notification is-danger">{{ message }}</div> -->
                            <div class="notification {{ message_class }}">{{ message }}</div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature }} °C</span>
                                        <br> 
                                        {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href="{% url 'delete_city' city_weather.city %}" class="nav-item">
                                    <span class="icon">
                                        <i class="fa fa-times fa-lg"></i>
                                    </span>
                                </a>
                                <br><br>

                                <a href="{% url 'detail_city' city_weather.city %}" class="nav-item">
                                    <span class="icon">
                                        <i class="fa fa-soundcloud fa-lg"></i>
                                    </span>
                                </a>

                            </div>
                        </article>                     
                        
                            <!--div class="columns">
                
                                <div class="column is-one-third"><p style="text-align:center;"></p></div>
                                <div class="column is-two-thirds"><p style="text-align:center;">Graphs</p></div>
                                
                              </div>-->
                            <!--for text inside the box-->                        
                    </div>                
                    {% endfor %}
                </div>
                
            </div>
        </div>    
    </section>

    <div class="container">
        <div class="columns">
            <div class="column is-offset-3 is-6">
                <div class="box">
                    <canvas id="myChart0"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br>

{% endblock %}


